/* FONTS */

@font-face {
    font-family: NG-B;
    src: url(/shikas-heaven/fonts/NanumGothic-Regular.ttf);
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/* ENDE FONTS*/

/*------------*/

/* BASE NEEDED */

body {
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    -webkit-animation-name: body-ann;
            animation-name: body-ann;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    scrollbar-width: none;
    max-height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

@-webkit-keyframes body-ann {
    0% {opacity: 0;}
    100% {opacity: 1;}
    
}

@keyframes body-ann {
    0% {opacity: 0;}
    100% {opacity: 1;}
    
}

/* ENDE BASE */

/*-------------*/

/* LEFTSIDE CATEGORY PANEL / MID CONTENT IFRAME */

.SH-mid-content {
    height: 95vh;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

/* SIDEBAR STYLE */

.wrapper {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

#sidebar {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    left: 0;
    z-index: 2;
}

#sidebar.active {
    margin-left: -250px;
} 

.nav-active {
    background: #3784D1 !important;
    color: black !important;
}

.SH-group-item {
    background-color: #342E37;
    color: white;
}

.SH-hoverann:hover {
    background-color: #3784D1;
    color: black;
}


/* CONTENT STYLE */

.main-content {
    position: absolute;
    width: 80%;
    padding: 20px;
    right: 0;
    min-height: 100vh;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 1;
}


/* ENDE LEFTSIDE PANEL / IFRAME MID CONTENT */

@media (max-width: 576px) {
    .SH-PhonesWarning {
        font-size: large;
        text-align: center;
        display: block !important;
        margin-top: 18rem ;
    }
    .SH-SidebarPhone {
        display: none !important;
    }
}.topheader{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #E3FFD2;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
	